<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org"
	  xmls layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  
<head>
	<title>Cadastro de Usuário</title>
</head>
<body>
	<h1>Cadastro de usuário</h1>
	<form method="POST">
		Nome: <input type="text" value="" name="nome"/>
		E-mail: <input type="text" value="" name="email"/>
		CPF: <input type="text" value="" name="cpf"/>
		Data de Nascimento: <input type="text" value="" name="dataNascimento"/>
		
		<button type="submit">Cadastrar</button>
	
	</form>
</body>
	

</html>